<p>herramientas works!</p>
<mat-card>


    <mat-card-content class="mat-card-content-padre">

        <mat-card-title class="ti">
            <h2>Herramientas del Acta </h2>
        </mat-card-title>

        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>juicioexpertos de Herramientas del acta
            </h4>
            <p>
                {{datosHerramientas.juicioexpertos}}
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4>recopilaciondatos Herramientas del acta
            </h4>
            <p>
                {{datosHerramientas.recopilaciondatos}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>habilidades de Herramientas del acta
            </h4>
            <p>
                {{datosHerramientas.habilidades}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4> Reuniones de Herramientas del acta
            </h4>
            <p>
                {{datosHerramientas.herramientareuniones}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
    </mat-card-content>

</mat-card>