<div id="container">
  <button class="learn-more" routerLink="/proyecto-save"> Generar proyecto</button>
</div>


<div class="support-grid"></div>

  <div class="band">
 
  
    <div class="item-3">
      <a  class="card">
        <div class="thumb" ></div>
        <article>
          <h1>Created by You, July Edition</h1>
          <div class="card-divisor"></div> <!--  Esta es la division que se ve en el card (Tarjeta)-->
          <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
   
        </article>

        <div class="card-footer text-center">
          <button class="button" routerLink="/seguimiento-proyecto"><span>  Ver </span></button>     
          <button class="btn btn-theme pull-right button" type="button" id="toright"><span>  Abandonar </span></button>
        </div>
      </a>
    </div>
    <div class="item-4">
          <a   class="card">
            
 
            <div class="card-header">

            </div>

            <div class="thumb" ></div>
         
              <article>

              <h1>How to Code a Scrolling “Alien Lander” Website</h1>
            
                <div class="card-divisor"></div>
                <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
            </article>
       

            <div class="card-footer text-center">
              <button class="button" routerLink="/seguimiento-proyecto"><span>  Ver </span></button>     
              <button class="btn btn-theme pull-right button" type="button" id="toright"><span>  Abandonar </span></button>
            </div>

          </a>
    </div>
  
 

   
  </div>