<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Registro</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="usuarios.email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="usuarios.password" required />
        </div>

        <div class="form-group">
          <label for="username">Nombre Completo</label>
          <input type="username" id="username" name="username" [(ngModel)]="usuarios.nombre" required />
        </div>

        <div class="form-group">
          <button (click)="registrarUsuario()">Registrar</button>
        </div>
        <div *ngIf="Mensaje">
          <div class="form-header">
            <h1>
              <p *ngFor="let notf of notificacion">
                {{notf}}
              </p>
            </h1>
          </div>
        </div>

        <div class="form-group">
          <label class="form-remember">
            <a routerLink="/login"> <button type="submit">Volver</button></a>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>