<mat-card>
    

    <mat-card-content class="mat-card-content-padre">

        <mat-card-title class="ti">
            <h2>Caso de Negocio del Acta </h2>
        </mat-card-title>

        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>Metas del caso de negocio
            </h4>
            <p>
                {{datosCasoNegocio.metas}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4>objetivos del caso de negocio
            </h4>
            <p>
               {{datosCasoNegocio.objetivos}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>incidentes del caso de negocio
            </h4>
            <p>
               {{datosCasoNegocio.incidentes}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4>oportunidades del caso de negocio
            </h4>
            <p>
                {{datosCasoNegocio.oportunidades}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
    </mat-card-content>

</mat-card>
