<!DOCTYPE html>
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 

</head> 

<img class="wave" src="/assets/img/fondoLogin.svg" alt="image">

<div class="container">

	<div class="img1">
		<img src="/assets/img/reading.svg" alt="image">
	</div>

	 

	<div class="login-content">
		<form >
		 
			<img class="avatar" src="/assets/img/dates.svg"/>
			<h2 class="title"> LOGIN </h2>
			   <div class="input-div one">
				  <div class="i">
						  <i class="fas fa-user"></i>
				  </div>
				  <div class="div">
					
						  <input type="email" class="input" placeholder="Email" name="email"  [(ngModel)]="usuarios.email"  required/>
				  </div>
			   </div>

			   <div class="input-div two">
				  <div class="i"> 
					   <i class="fas fa-lock"></i>
				  </div>
				  <div class="div">
					   <input type="password" class="input" placeholder="Contraseña" name="passorwd" [(ngModel)]="usuarios.password" required/>
					   <span> </span>
					</div>
			   </div>
		 
			<button (click) = "ingresar()" class="btn">ingresar</button>
			<p class="message">¿Aún no te registras?  <a routerLink="/register">registrarse</a></p>

			<div *ngIf="showMsg">
				<p *ngFor="let msg of messages"> {{msg}} </p>
			</div>
		
		</form>
	</div>


</div> 
 
<ngx-spinner   bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-spin-clockwise-fade">

<p style="font-size: 20px; color: white">Loading...</p>

</ngx-spinner>
</html> 
 
 






