
<div class="container">
	<div class="info">
	   
	</div>
  </div>
  <div class="form">
	<div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>


	<form class="login-form">

	  <input type="email" placeholder="Correo" name="email"  [(ngModel)]="usuarios.email"  required/>

	  <input type="password" placeholder="constraseña" name="passorwd" [(ngModel)]="usuarios.password" required/>

	  <button (click) = "ingresar()" class="login100-form-btn">ingresar</button>

	  <p class="message">¿Aún no te registras?  <a routerLink="/register">registrarse</a></p>
	</form>
	<div *ngIf="showMsg">
		<p *ngFor="let msg of messages">
			{{msg}}
		</p>
	
	</div>
	
  </div>
 