
<mat-card>
    <mat-card-header>

        <mat-card-title>
            <h1>ACTA DE CONSTITCIÓN DEL PROYECTO </h1>
        </mat-card-title>
        <mat-card-subtitle>...</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content class="mat-card-content-padre">

        <mat-card-title>
            <h2>Entradas del Acta </h2>
        </mat-card-title>

        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>acuerdos del Acta
            </h4>
            <p>
               {{datosEntrada.acuerdos}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4>factores del Acta
            </h4>
            <p>
                {{datosEntrada.factores}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>activos del Acta
            </h4>
            <p>
                {{datosEntrada.activosprocesos}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
    </mat-card-content>

</mat-card>