<h3 style="margin-top:15px">Presentación de plan para la gestion del alcance PGA</h3>


<div class="contenido-accordion"> 
<mat-accordion class="example-headers-align" multi>

        <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Entradas del PGA </mat-panel-title>

                <mat-panel-description>  
             

                
                </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <app-vista-entrada-pga></app-vista-entrada-pga>
                </ng-template>
        </mat-expansion-panel>


        <mat-expansion-panel class="panel">
            <mat-expansion-panel-header>
            <mat-panel-title>  Herramientas del PDP </mat-panel-title>

            <mat-panel-description>  
 

            
            </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <app-vista-herramienta-pga> </app-vista-herramienta-pga>
            </ng-template>
        </mat-expansion-panel>


        

 

</mat-accordion>

</div>