html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
 
 
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: rgb(241, 253, 249);
  box-shadow: 0 3px 3px rgba(43, 42, 42, 0.778);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -3px;
  box-shadow: 0 3px 3px rgb(248, 173, 138);

}

.card article {
  padding: 20px;
  display: flex;
  
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  
}
 

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.1;
}

/* typography */
h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
 


.card-divisor {
  border-bottom: 1px solid rgb(253, 216, 204);
  padding-bottom: 6px;
}


.learn-more { 
  position: static;
  display: flex;
  
}











.button {
  border-radius: 4px;
  background-color: #020202;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding-left: 2%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}