<div class="contenido-accordion"> 
    <mat-accordion class="example-headers-align" multi>
    
            <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Juicios de expertos </mat-panel-title>
    
                    <mat-panel-description>  
                 
                    
                    </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                           {{pga.juicioexpertos}}
                    </ng-template>
            </mat-expansion-panel>
    
    
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Analisis </mat-panel-title>
    
                <mat-panel-description>  
     
                
                </mat-panel-description>
                </mat-expansion-panel-header>
    
                <ng-template matExpansionPanelContent>
                        {{pga.analisis}}

    
                </ng-template>
            </mat-expansion-panel>
    
    
             
    
            
     
    
    </mat-accordion>
    
    </div>