<div class="contenido-accordion"> 
    <mat-accordion class="example-headers-align" multi>
    
            <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Juicios de expertos </mat-panel-title>
    
                    <mat-panel-description>  
                 
                    
                    </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                                  {{herramientasPDP.juicioexpertos}}
                </ng-template>
            </mat-expansion-panel>
    
    
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Recopilacion de datos </mat-panel-title>
    
                <mat-panel-description>  
     
                
                </mat-panel-description>
                </mat-expansion-panel-header>
    
                <ng-template matExpansionPanelContent>
                        {{herramientasPDP.recopilaciondatos}}
    
                </ng-template>
            </mat-expansion-panel>
    
    
              <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Habilidades </mat-panel-title>
    
                    <mat-panel-description>  
                
              
                    
                    </mat-panel-description>

                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                        {{herramientasPDP.habilidades}}
 
                    </ng-template>
            </mat-expansion-panel>
    

            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Herramientas </mat-panel-title>

                <mat-panel-description>  
            
          
                
                </mat-panel-description>

                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                        {{herramientasPDP.herramientareuniones}}

                </ng-template>
        </mat-expansion-panel>
    
            
     
    
    </mat-accordion>
    
    </div>