.mat-toolbar{
    background-color:rgba(64, 122, 247, 0.919);
    height: 50px;
    justify-content: space-between;
  }   

 
.bloqueBotonesRigth{
  
    display: flex;
    justify-content: center;
     
    width: 300px;

}

.buttonLogout{
    margin-right: 8px;
}