<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div  *ngIf="isAuth()">
 <mat-toolbar >

  <div  class="bloqueBotonesLeft">
  <a routerLink="/home" mat-raised-button> GestionAPP </a>
  </div> 

  <div class="bloqueBotonesRigth">
    <button routerLink="/login" class="buttonLogout" style="" (click)="singOut()"  mat-raised-button color="link"> {{ nombreUsuario }} </button>
    <button routerLink="/login" class="buttonLogout" style="" (click)="singOut()"  mat-raised-button color="warn"> Salir </button>
  </div>

  </mat-toolbar>

</div>

<router-outlet></router-outlet>


</body>




</html>

