<div class="contenido-accordion"> 
    <mat-accordion class="example-headers-align" multi>
    
            <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title> Estandar </mat-panel-title>
    
                    <mat-panel-description>  
                 
                    
                    </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                        {{entradaPga.estandares}}
    
                    </ng-template>
            </mat-expansion-panel>
    
    
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Objetivo calidad </mat-panel-title>
    
                <mat-panel-description>  
     
                
                </mat-panel-description>
                </mat-expansion-panel-header>
    
                <ng-template matExpansionPanelContent>
                    {{entradaPga.objetivocalidad}}

    
                </ng-template>
            </mat-expansion-panel>
    
    
              <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Ciclo </mat-panel-title>
    
                    <mat-panel-description>  
                
              
                    
                    </mat-panel-description>

                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                        {{entradaPga.ciclo}}
 
                    </ng-template>
            </mat-expansion-panel>


            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Enfoque </mat-panel-title>

                <mat-panel-description>  
            
          
                
                </mat-panel-description>

                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    {{entradaPga.enfoque}}

                </ng-template>
        </mat-expansion-panel>
    
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Procesos activos </mat-panel-title>

                <mat-panel-description>  
            
          
                
                </mat-panel-description>

                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    {{entradaPga.activosprocesos}}

                </ng-template>
        </mat-expansion-panel>
            
     
    
    </mat-accordion>
    
    </div>