<h1>
    Panel de control
</h1>

<h2>---------------------------------------</h2>

// Agendar as reuniones con el grupo de trabajo
<h1>ControlAdminProject</h1>
<h3>
    Para matricular los usuarios que deseas que sean contribuidores en tu proyecto
</h3>
<h4>
    puedes agregar a los usuario que desees
</h4>
<button>
    <a (click) = "ControlAdminProject()"> ** INGRESAR AL CONTROL DE DE PROYECTO</a>
</button>

<br>
<br>
<h2>---------------------------------------</h2>
// Matricular Gente a un proyecto
<h1>ControlFases</h1>
<h3>
    Para asignar los grupos en reuniones según la fase, ingresa aquí
</h3>
<h4>
    Recuerda que primero debes agregar usuarios a tu grupo de trabajo del proyecto
</h4>
<button>
    <a (click) = "ControlFases()"> ** INGRESAR AL CONTROL DE DE PROYECTO</a>
</button>

<br>
<br>
<h2>---------------------------------------</h2>
// Agendar as reuniones con el grupo de trabajo
<h1>Control-Reuniones-Por-Fase</h1>
<h3>
    Para revisar las reuniones por fase realizadas y sus respectivos responsables ingresa aqui
</h3>
<h4>
    Esta vista es informativa
</h4>

<button>
    <a (click) = "ControlReunionesPorFase()"> ** INGRESAR AL CONTROL DE DE PROYECTO</a>
</button>


<br>
<br>
<h2>---------------------------------------</h2>
// REvisar Avances en PMBOK 
<h1>SeguimientoProyecto</h1>
<h3>
    Para ingresar a los datos PMBOK del proyecto ingresa aqui
</h3>
<button>
    <a (click) = "SeguimientoProyecto()"> ** INGRESAR AL Seguimiento del Proyecto</a>
</button>


<br>
<br>

<br>
<br>
