<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div  *ngIf="isAuth()">
 <mat-toolbar style = "background-color:orange">
  <a routerLink="/home" mat-raised-button> GESTIONAPP </a>
  <div>
  <button routerLink="/login" class="buttonLogout" style="" (click)="singOut()"  mat-raised-button color="primary"> SALIR </button>
  </div> 

 
</mat-toolbar>

</div>

<router-outlet></router-outlet>


</body>




</html>

