<h1>CONTROL DE FASES </h1>
<h4>Vista para revisr los parametrso generales de las reuniones programadas</h4>

<h2>Usuarios agregados</h2>


TABLA PENDIENTE DE ORDENAR Y GENERAR EL FORMATO DE LAS HORAS!
<table>
    <thead>
        <tr>

            <th>nombreProyecto</th>
            <th>descripcionProyecto</th>

            <th>nombreReunion</th>
            <th>descripcionReunion</th>
            <th>descripcionFase</th>
            <th>inicio</th>
            <th>fin</th>
            <th>estado</th>
            <th>nombre</th>
            <th>Ver Grupo de Trabajo</th>
        </tr>
    </thead>
    <tbody>


        <div *ngFor="let grupo of Reuniones">

            <tr>
                <div *ngFor="let proyecto of grupo.proyectos">
                    <td>{{proyecto.descripcion}}</td>
                    <td>{{proyecto.nombre}}</td>
                </div>
            </tr>
            <tr>
                <div *ngFor="let reunion of grupo.reuniones">
                    <td>{{reunion.descripcionreunion}}</td>
                    <td>{{reunion.nombrereunion}}</td>
                </div>
            </tr>
            <tr>

                <div *ngFor="let fase of grupo.fases">
                    <td>{{fase.descripcionfase}}</td>
                    <td>{{fase.tiempoinicio}}</td>
                    <td>{{fase.tiempofin}}</td>
                </div>
            </tr>

            <tr>
                <td>NADA</td>
                <td>NADA</td>
                <th> <button (click)="verGrupo(0)">(o)</button></th>
            </tr>


        </div>
    </tbody>
</table>

<br>
<br>
<br>
<h2>----------------</h2>
<h1>El grupo de trabajo es:</h1>

<table>
    <thead>
        <tr>
            <th>usuario</th>
            <th>rol</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let responsable of responsables">
            <td>{{responsable.email}}</td>
            <td>{{responsable.nombrerol}}</td>


        </tr>
    </tbody>
</table>

<br>
<br>
<br>

<button>
    <a (click)="VolverAControl()">Volver Al panel princial</a>
</button>

<br>
<br>