<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Acciones El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="acciones...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Componentes para El acta del proyecto </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="componentes...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Productos Para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="productos...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Servicios para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="servicios...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Resultado esperados para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="resultados...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>