<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Acciones El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="acciones; else Notacciones">
                        <textarea [(ngModel)]="planObje.acciones" matInput placeholder="acciones...."></textarea>
                    </div>

                    <ng-template #Notacciones>
                        <textarea disabled matInput placeholder="acciones....">{{planObje.acciones}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                 
                <button   (click)="guardaracciones()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Componentes para El acta del proyecto </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="componentes; else Notcomponentes">
                        <textarea [(ngModel)]="planObje.componentes" matInput placeholder="componentes...."></textarea>
                    </div>

                    <ng-template #Notcomponentes>
                        <textarea disabled matInput placeholder="componentes....">{{planObje.componentes}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                 
                <button  (click)="guardarcomponentes()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Productos Para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="prodcutos; else Notprodcutos">
                        <textarea [(ngModel)]="planObje.prodcutos" matInput placeholder="prodcutos...."></textarea>
                    </div>

                    <ng-template #Notprodcutos>
                        <textarea disabled matInput placeholder="prodcutos....">{{planObje.prodcutos}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                 
                <button   (click)="guardarprodcutos()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Servicios para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="servicios; else Notservicios">
                        <textarea [(ngModel)]="planObje.servicios" matInput placeholder="servicios...."></textarea>
                    </div>

                    <ng-template #Notservicios>
                        <textarea disabled matInput placeholder="servicios....">{{planObje.servicios}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                 
                <button   (click)="guardarservicios()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Resultado esperados para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="resultado; else Notresultado">
                        <textarea [(ngModel)]="planObje.resultado" matInput placeholder="resultado...."></textarea>
                    </div>

                    <ng-template #Notresultado>
                        <textarea disabled matInput placeholder="resultado....">{{planObje.resultado}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                 
                <button  (click)="guardarresultado()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Guardar informacion del acta</mat-card-title>
            <mat-card-subtitle>La información que se almacenará será editada con autorización </mat-card-subtitle>

            <mat-card-actions>
                
                <button (click)="guardarPlan()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>