.Padre{
    background-color: #EAD5D1;
    
}
.entradas{
    justify-content:center;
}
.Herramientas{
    justify-content:center;
}
.casoNegocio{
    justify-content:center;
}
.planBeneficios {
    justify-content:center;
}