<body>
    <h3>Presntacion del acta de constitución</h3>


<div class="Padre">
    <div class="entradas">
        <h1>entradas DEL ACTA vista</h1>
        <app-entrada></app-entrada>
    </div>
    <div class="Herramientas">
        <h1>HERRAMIENTAS DEL ACTA vista</h1>
        <app-herramientas></app-herramientas>
    </div>
    <div class="casoNegocio"></div>
    <h1>CASO DE NEGOCIOS DEL ACTA vista</h1>
    <app-caso-negocios></app-caso-negocios>
    
    <div class="planBeneficios">
        <h1>PLAN GESTION DE planBeneficios DEL ACTA vista</h1>
        <app-plan-gestion></app-plan-gestion>
    </div>
</div>
</body>