<body>
    <h3>Presntación del acta de constitución</h3>


    <div class="Padre">
        <mat-card-header>

            <mat-card-title>
                <h1>ACTA DE CONSTITCIÓN DEL PROYECTO </h1>
            </mat-card-title>
            <mat-card-subtitle>.</mat-card-subtitle>
        </mat-card-header>

        <div class="entradas">

            <app-entrada></app-entrada>
        </div>
        <div class="Herramientas">

            <app-herramientas></app-herramientas>
        </div>
        <div class="casoNegocio"></div>
        <app-caso-negocios></app-caso-negocios>

        <div class="planBeneficios">

            <app-plan-gestion></app-plan-gestion>
        </div>
    </div>
</body>