<p>plan-gestion works!</p>
<mat-card>
    

    <mat-card-content class="mat-card-content-padre">

        <mat-card-title class="ti">
            <h2>plan de Gestion de beneficios del Acta </h2>
        </mat-card-title>

        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>acciones Plan de Gestion de beneficios de la entrada del  acta
            </h4>
            <p>
           {{datosPlan.acciones}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4> componentes Plan de Gestion de beneficios de la entrada del  acta
            </h4>
            <p>
                {{datosPlan.componentes}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4> prodcutos Plan de Gestion de beneficios de la entrada del  acta
            </h4>
            <p>
                {{datosPlan.prodcutos}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-1">
            <h4>servicios Plan de Gestion de beneficios de la entrada del  acta
            </h4>
            <p>
           {{datosPlan.servicios}}
            </p>
        </mat-card-content>
        <!-- ----------------------->
        <mat-card-content class="mat-card-content-2">
            <h4> resultado Plan de Gestion de beneficios de la entrada del  acta
            </h4>
            <p>
                {{datosPlan.resultado}}
            </p>

        </mat-card-content>
        <!-- ----------------------->
      
    </mat-card-content>

</mat-card>