<div class="contenido-accordion"> 
    <mat-accordion class="example-headers-align" multi>
    
            <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Otros procesos </mat-panel-title>
    
                    <mat-panel-description>  
                 
                    
                    </mat-panel-description>
                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                                        {{datosEntrada.otrosprocesos}}
                    </ng-template>
            </mat-expansion-panel>
    
    
          
    
    
              <mat-expansion-panel class="panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title>  Factores Ambientales </mat-panel-title>
    
                    <mat-panel-description>  
                
              
                    
                    </mat-panel-description>

                    </mat-expansion-panel-header>
    
                    <ng-template matExpansionPanelContent>
                        {{datosEntrada.factoresambientales}}
 
                    </ng-template>
            </mat-expansion-panel>
    
    
            
            <mat-expansion-panel class="panel">
                <mat-expansion-panel-header>
                <mat-panel-title>  Procesos activos </mat-panel-title>
    
                <mat-panel-description>  
     
                
                </mat-panel-description>
                </mat-expansion-panel-header>
    
                <ng-template matExpansionPanelContent>
                    {{datosEntrada.activosprocesos}}
    
                </ng-template>
            </mat-expansion-panel>
    
    </mat-accordion>
    
    </div>