<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<div class="espacio">
    <button (click)="buscarProyectos()" style="margin-left:30px;margin-top:30px"type="button" class="btn btn-success" data-type="minus"> Actualizar </button>
</div>




<div *ngFor="let proyecto of proyectos">

 
<div class="support-grid"></div>

  <div class="band">
 
    <div class="item-2" style="margin-top:20px">
      <a  class="card"> 
     
        <div class="thumb" ></div>
        <article>
          <h1>{{proyecto.nombre}}</h1>
          <div class="card-divisor"></div> <!--  Esta es la division que se ve en el card (Tarjeta)-->
          <p> {{proyecto.descripcion}}</p>
   
        </article>

        <div class="card-footer text-center">
          <button class="button" routerLink="/seguimiento-proyecto"><span>  Ver </span></button>     
         <!-- <button class="btn btn-theme pull-right button" type="button" id="toright"><span>  Abandonar </span></button> -->
        </div>
      </a>
    </div>
   
  </div>
</div>
 
    <div class="support-grid"></div>

    <div class="band">

        <div class="item-3" style="margin-top:20px">
            <a class="card">

                <div class="thumb"></div>
                <article>
                    <h1>Nombre del Proyecto:</h1>
                    <h3>{{proyecto.nombre}}</h3>
                    <div class="card-divisor"></div>
                    <!--  Esta es la division que se ve en el card (Tarjeta)-->
                    <p> {{proyecto.descripcion}}</p>

                </article>

                <div class="card-footer text-center">
                    <button class="button" (click)="entrarProyecto(proyecto.nombre,proyecto.idproyecto)"><span>  Ver </span></button>
                    <!-- <button class="btn btn-theme pull-right button" type="button" id="toright"><span>  Abandonar </span></button> -->
                </div>
            </a>
        </div>

    </div>
</div>
 