<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Metas El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Metas...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Objetivos para El acta del proyecto </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Objectivos...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Incidentes Para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Procesos...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Oportunidades para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Oportunidades...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>