/*


.mat-card {
    background-color: rgb(202, 198, 198);
    min-width: 60%;
    max-width: 80%;
    padding: 5%;
}

.mat-card-title {
    text-align: center;
}

.mat-card-actions {
    text-align: center;
}

.mat-form-field {
    display: flex;
}

.mat-grid-list {
    background: rgb(243, 237, 237);
    border: green;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.centrado {
 
    float: left;
    width: 50%;
}

*/

.input-field
  {
      box-sizing: border-box;
      font-size: 14px;
      padding: 9px;
      border-radius: 7px;
      border: 1px solid rgb(168, 168, 168);
      width: 100%;
      height: 120px;
      outline: none;
      margin: 10px;
  }
