textarea {
    resize:both;
    height: 10em;
    width: 45em;
 
    outline: none;
    background-color: rgb(249, 250, 248);

    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
 }

textarea:focus {
    outline: 3px solid transparent;
    border: 2px solid rgb(162, 151, 255);

}

.camposdiv{
    margin-top: 45px;
}

p{
    font-size: 15px;
    font-family: Arial;  
}


button {
    width: 105px;
    height: 40px;
    border-radius: 7px;

}