<div *ngIf="cargaEnable; else DataCaso">

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Cargando... </p>
    </ngx-spinner>
</div>


<ng-template #DataCaso>
    <div>

        <div *ngIf="metas; else Notmetas">
            <p> Metas de acta del proyecto <button [disabled]="metas ? null : 'disabled'" (click)="guardarmetas()"> Guardar </button> </p>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" [(ngModel)]="casoMegocio.metas" placeholder="Metas..."> {{casoMegocio.metas}} </textarea>
        </div>
        <ng-template #Notmetas>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" disabled> {{casoMegocio.metas}} </textarea>
        </ng-template>
    </div>

    <div>

        <div *ngIf="objetivos; else Notobjetivos">
            <p> Objetivos para el acta del proyecto
                <button [disabled]="objetivos ? null : 'disabled'" (click)="guardarobjetivos()"> Guardar </button>
            </p>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" [(ngModel)]="casoMegocio.objetivos" matInput placeholder="Objetivos..."> {{casoMegocio.objetivos}} </textarea>
        </div>
        <ng-template #Notobjetivos>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" matInput disabled> {{casoMegocio.objetivos}} </textarea>
        </ng-template>

    </div>

    <div>

        <div *ngIf="incidentes; else Notincidentess">
            <p> Incidentes para el acta del proyecto
                <button [disabled]="incidentes ? null : 'disabled'" (click)="guardarincidentes()">  Guardar </button>
            </p>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" [(ngModel)]="casoMegocio.incidentes" matInput placeholder="Incidentes..."> {{casoMegocio.incidentes}} </textarea>
        </div>
        <ng-template #Notincidentess>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" matInput disabled> {{casoMegocio.incidentes}} </textarea>
        </ng-template>

    </div>

    <div>
        <div *ngIf="oportunidades; else Notoportunidades">
            <p> Oportunidades para el acta del proyecto
                <button [disabled]="oportunidades ? null : 'disabled'" (click)="guardaroportunidades()">  Guardar </button>
            </p>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" [(ngModel)]="casoMegocio.oportunidades" matInput placeholder="Oportunidades..."> {{casoMegocio.oportunidades}} </textarea>
        </div>
        <ng-template #Notoportunidades>
            <textarea style="resize: both;" cols="90" rows="10" style="resize: both;" matInput disabled> {{casoMegocio.oportunidades}} </textarea>
        </ng-template>

    </div>

    <div>
        <button (click)="guardarCasoNegocio()"> Guardar caso de negocio </button>
    </div>
</ng-template>

<!-- 
<ng-template #DataCaso>

    <mat-grid-list cols="2" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card>
                <p>
                    <mat-card-title>Metas de acta del proyecto</mat-card-title>
                    <mat-card-content>


                        <div *ngIf="metas; else Notmetas">
                            <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.metas" matInput placeholder="metas...."></textarea>
                        </div>

                        <ng-template #Notmetas>
                            <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="metas....">{{casoMegocio.metas}}</textarea>
                        </ng-template>


                    </mat-card-content>

                    <mat-card-actions>

                        <button (click)="guardarmetas()" mat-button>Guardar</button>
                    </mat-card-actions>
                </p>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <p>
                    <mat-card-title>Objetivos para el acta del proyecto </mat-card-title>
                    <mat-card-content>

                        <div *ngIf="objetivos; else Notobjetivos">
                            <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.objetivos" matInput placeholder="objetivos...."></textarea>
                        </div>

                        <ng-template #Notobjetivos>
                            <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="objetivos....">{{casoMegocio.objetivos}}</textarea>
                        </ng-template>

                    </mat-card-content>

                    <mat-card-actions>

                        <button (click)="guardarobjetivos()" mat-button>Guardar</button>
                    </mat-card-actions>
                </p>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <p>
                    <mat-card-title>Incidentes para el acta del proyecto </mat-card-title>
                    <mat-card-content>

                        <div *ngIf="incidentes; else Notincidentess">
                            <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.incidentes" matInput placeholder="incidentes...."></textarea>
                        </div>

                        <ng-template #Notincidentess>
                            <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="incidentes....">{{casoMegocio.incidentes}}</textarea>
                        </ng-template>


                    </mat-card-content>

                    <mat-card-actions>

                        <button (click)="guardarincidentes()" mat-button>Guardar</button>
                    </mat-card-actions>
                </p>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card>
                <p>
                    <mat-card-title>Oportunidades para el acta del proyecto</mat-card-title>
                    <mat-card-content>

                        <div *ngIf="oportunidades; else Notoportunidades">
                            <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.oportunidades" matInput placeholder="oportunidades...."></textarea>
                        </div>

                        <ng-template #Notoportunidades>
                            <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="oportunidades....">{{casoMegocio.oportunidades}}</textarea>
                        </ng-template>

                    </mat-card-content>

                    <mat-card-actions>

                        <button (click)="guardaroportunidades()" mat-button>Guardar</button>
                    </mat-card-actions>
                </p>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <p>
                    <mat-card-title>Guardar informacion del acta</mat-card-title>
                    <mat-card-subtitle>La información que se almacenará será editada con autorización </mat-card-subtitle>

                    <mat-card-actions>

                        <button (click)="guardarCasoNegocio()" mat-button>Guardar</button>
                    </mat-card-actions>
                </p>
            </mat-card>
        </mat-grid-tile>




    </mat-grid-list>
</ng-template>
<!--<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Metas El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">

                    <div *ngIf="metas; else Notmetas">
                        <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.metas" matInput placeholder="metas...."></textarea>
                    </div>

                    <ng-template #Notmetas>
                        <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="metas....">{{casoMegocio.metas}}</textarea>
                    </ng-template>


                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>

                <button (click)="guardarmetas()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Objetivos para El acta del proyecto </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="objetivos; else Notobjetivos">
                        <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.objetivos" matInput placeholder="objetivos...."></textarea>
                    </div>

                    <ng-template #Notobjetivos>
                        <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="objetivos....">{{casoMegocio.objetivos}}</textarea>
                    </ng-template>

                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>

                <button (click)="guardarobjetivos()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Incidentes Para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="incidentes; else Notincidentess">
                        <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.incidentes" matInput placeholder="incidentes...."></textarea>
                    </div>

                    <ng-template #Notincidentess>
                        <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="incidentes....">{{casoMegocio.incidentes}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>

                <button (click)="guardarincidentes()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Oportunidades para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <div *ngIf="oportunidades; else Notoportunidades">
                        <textarea cols="60" rows="20" style="resize: both;" [(ngModel)]="casoMegocio.oportunidades" matInput placeholder="oportunidades...."></textarea>
                    </div>

                    <ng-template #Notoportunidades>
                        <textarea cols="60" rows="20" style="resize: both;" disabled matInput placeholder="oportunidades....">{{casoMegocio.oportunidades}}</textarea>
                    </ng-template>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions>

                <button (click)="guardaroportunidades()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>

</div>  

<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Guardar informacion del acta</mat-card-title>
            <mat-card-subtitle>La información que se almacenará será editada con autorización </mat-card-subtitle>

            <mat-card-actions>

                <button (click)="guardarCasoNegocio()" mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>

-->