<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Juicio De Expertos El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Juicio...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Recopilacion de Datos para El acta del proyecto </mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="datos...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Habilidades del grupo Para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="habilidades...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
<br>
<br>
<div class="centrado">
    <mat-card>
        <p>
            <mat-card-title>Herramientas de Reuniones implementadas para El acta del proyecto</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="reuniones...."></textarea>
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-card-content>
    
            <mat-card-actions>
                <button mat-button>BORRAR</button>
                <button mat-button>GUARDAR</button>
            </mat-card-actions>
        </p>
    </mat-card>
</div>
